<ion-header>
  <ion-toolbar>
    <ion-title>work.page.html</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding-top: 70px;">
    <ion-row>
        <ion-col size-md="6" offset-md="3">  
            <ion-card>
                <ion-card-header class="ion-text-center" style="padding-top: 50px;">
                    <ion-card-title style="font-size: 50px;">Homework</ion-card-title>
                    <ion-icon name="person-circle-outline" style="font-size: 50px;" color="primary"></ion-icon>
                    <ion-card-title style="font-size: 30px;" color="primary">John</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <form onsubmit="processForm(event)">
                      <ion-list lines="full" class="ion-no-margin ion-no-padding">
                        <ion-item>
                          <ion-label position="floating" style="font-size: 20px;">Subject</ion-label>
                          <ion-input required type="text" value="Math" oninput="handleTitleValue(event)"></ion-input>
                        </ion-item>
      
                        <ion-item>
                          <ion-label position="stacked" style="font-size: 18px;">Notes</ion-label>
                          <ion-textarea>John had completed his math homework at 15/4/2020</ion-textarea>
                        </ion-item>
                      </ion-list>
                      
                      <ion-list>
                        <ion-radio-group>
                          <ion-list-header>
                            <ion-label>
                              Status
                            </ion-label>
                          </ion-list-header>
                          
                          <ion-item>
                            <ion-label><ion-text style="font-weight: bold;" color="success">Complete</ion-text></ion-label>
                            <ion-radio value="/" color="success"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label><ion-text style="font-weight: bold;" color="danger">Incomplete</ion-text></ion-label>
                            <ion-radio value="x" color="danger"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label><ion-text style="font-weight: bold;" color="medium">Late Submission</ion-text></ion-label>
                            <ion-radio value="l" color="medium"></ion-radio>
                          </ion-item>
                          <ion-item>
                            <ion-label><ion-text style="font-weight: bold;" color="secondary">No Attempt</ion-text></ion-label>
                            <ion-radio value="n" color="secondary"></ion-radio>
                          </ion-item>
                      
                        </ion-radio-group>
                      </ion-list>
                      <div class="ion-text-center" style="padding-bottom: 50px;">
                        <ion-button routerLink="/menu" id="btn-save7" style="font-size: 20px;" class="ion-margin" type="submit" class="ion-no-margin">Save</ion-button>
                      </div>
                    </form>
                </ion-card-content>
            </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
