<ion-header>
  <ion-toolbar color="Light-tint">
    <!-- back icon --> 
    <ion-button routerLink="/menu" slot="start" fill="clear" color="Light-tint">
      <ion-icon size="large" color="primary" name="return-up-back"></ion-icon>
    </ion-button>
    <!-- home icon -->
    <ion-button routerLink="/menu" slot="end" fill="clear" color="Light-tint">
      <ion-icon size="large" color="primary" name="home-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding-top: 70px;">
      <ion-row>
          <ion-col size-md="6" offset-md="3">  
              <ion-card>
                  <ion-card-header class="ion-text-center" style="padding-top: 50px;">
                      <ion-card-title style="font-size: 50px;">CLASS</ion-card-title>
                  </ion-card-header>
                 
                  <ion-card-content style="padding-left: 60px; padding-right: 60px;">
                  <div class="ion-text-center">
                     <ion-button routerLink="/student" style="font-size: 20px;" class="ion-margin" shape="round" expand="block" color="warning">
                        <ion-icon slot="start" name="reader-outline" color="light"></ion-icon><ion-text color="light">EDP 3</ion-text>
                     </ion-button>
                  </div>

                  <div class="ion-text-center">
                    <ion-button id="btn-attendance1" style="font-size: 20px;" class="ion-margin" shape="round" expand="block" color="danger">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>QF  1
                    </ion-button>
                  </div>

                  <div class="ion-text-center">
                   <ion-button id="btn-attendance2" style="font-size: 20px;" class="ion-margin" shape="round" expand="block" color="secondary">
                      <ion-icon slot="start" name="reader-outline"></ion-icon>QF  2
                   </ion-button>
                  </div>
                  
                  <div class="ion-text-center" style="padding-bottom: 50px;">
                   <ion-button id="btn-attendance3" style="font-size: 20px;" class="ion-margin" shape="round" expand="block" color="success">
                     <ion-icon slot="start" name="reader-outline"></ion-icon>QF  3
                   </ion-button>
                  </div>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>   
</ion-content>
