<ion-header>
    <ion-toolbar color="Light-tint">
      <!-- back icon --> 
      <ion-button routerLink="/menu" slot="start" fill="clear" color="Light-tint">
        <ion-icon size="large" color="primary" name="return-up-back"></ion-icon>
      </ion-button>
      <!-- home icon -->
      <ion-button routerLink="/menu" slot="end" fill="clear" color="Light-tint">
        <ion-icon size="large" color="primary" name="home-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid style="padding-top: 70px;">
      <ion-row>
          <ion-col size-md="6" offset-md="3">  
              <ion-card>
                  <ion-card-header class="ion-text-center" style="padding-top: 50px;">
                      <ion-card-title style="font-size: 50px;">CLASS</ion-card-title>
                  </ion-card-header>
                 
                  <ion-card-content style="padding-left: 60px; padding-right: 60px;">
                  <div class="ion-text-center">

                     <ion-list>
                      <ion-list-header>
                          <ion-label>
                          
                          </ion-label>
                      </ion-list-header>

                      <ion-item>
                          <ion-label>Class</ion-label>
                          <ion-select placeholder="Select Class">
                          <ion-select-option value="f">EDP 3</ion-select-option>
                          <ion-select-option value="m">QF 1</ion-select-option>
                          <ion-select-option value="m">QF 2</ion-select-option>
                          <ion-select-option value="m">QF 3</ion-select-option>
                          </ion-select>
                      </ion-item>

                      <ion-item>
                          <ion-label position="floating" style="font-size: 20px;">Date</ion-label>
                          <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" placeholder="DD/MM/YYYY"></ion-datetime>
                      </ion-item>

                      </ion-list>
                  </div>           
                  <div class="ion-text-center" style="padding-bottom: 50px;">
                      <ion-button routerLink="/student" id="btn-save7" style="font-size: 20px;" class="ion-margin" type="submit" class="ion-no-margin">Search</ion-button>
                    </div>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>   
</ion-content>
